<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title ng-bind="$state.current.data.pageTitle + ' - Playground'">Playground</title>
	<base href="/" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/app")
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">
					<a ui-sref="dashboard">Franky's Playground</a>
				</p>
			</div>
			<div class="float-right">
				<nav>
					<ul id="menu">
						<li><a ui-sref="dashboard">UI Dashboard</a></li>
						<li><a ui-sref="about">UI About</a></li>
						<li><a ui-sref="item.list">UI Item</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>
