<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title ng-bind="$state.current.data.pageTitle + ' - Playground'">Playground</title>
	<base href="@Url.Action("Index", "Home")" />
	@Styles.Render("~/content/bootstrap")
	@Styles.Render("~/content/datatables")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/datatables")
	@Scripts.Render("~/bundles/app")

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		@Html.Partial("_Navigation")

		<div class="jumbotron">
			@RenderBody()
		</div>

	</div>
	
	@RenderSection("Scripts", false)
</body>
</html>
